#Review {
    padding: 6.23rem 0;

    @include smLaptop {
        padding: 6.23rem 0 0;
    }

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .Review__two-columns {

            .Review__left {
                display: none;
                position: relative;

                @include smLaptop {
                    display: block;
                }

                &__background-image {
                    opacity: 0.4;
                    z-index: -1;
                    position: absolute;
                    left: -3.82rem;
                }

                &__main-image {
                    max-height: 714px;
                    object-fit: contain;
                    transform: scaleX(-1);
                    filter: FlipH;
                }
            }

            .Review__right {
                padding-top: 1.69rem;
                text-align: right;

                .Review__right__description {
                    display: inline-block;
                }

                .author {
                    max-width: 100%;
                }

                .page-controls {
                    color: $gray;
                    i:first-child() {
                        margin-right: 1.37rem;
                    }
                }
            }
        }
    }
}