.media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.media__left {
    flex-grow: 1;
}

.media__right {
    flex-basis: 13.09rem;
    flex-grow: 9999;
}

/*
*   CODE
*/

/*

 <div class="media">
    <div class="media__left">
        <img src="//via.placeholder.com/300x200" />
    </div>

    <div class=".media__right">
        <p>Lorem ipsum dolor amet vaporware hammock readymade activated charcoal glossier, mixtape slow-carb bushwick butcher. Hoodie butcher trust fund sartorial asymmetrical DIY. Next level whatever plaid, sustainable pitchfork vaporware art party air plant. </p>
    </div>
</div>

*/