nav {

    @include tablet {
        margin: 40px 0;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .nav__logo.logo {

            .logo__name {
                background: $dark;
                color: $light;
                font-size: 1.3rem;
                font-weight: 700;
                padding: 5px 10px;
                text-transform: uppercase;
                text-decoration: none;

                @include tablet {
                    font-size: 1.5rem;
                    padding: 10px 25px;
                }

            }
        }

        .nav__menu {
            display: none;

            @include tablet {
                display: block;
                font-size: 0.7rem;
                text-align: right;
                text-transform: uppercase;

            }

            a {
                color: $dark;
                display: inline-block;
                padding: 5px 10px;
                text-decoration: none;
                transition: $transition;

                &:hover {
                    color: $secondary;
                    font-weight: 600;
                }
            }
        }

        .nav__menu--mobile {
            background: white;
            box-shadow: $box-shadow;
            height: 100vh;
            transform: translate3d(-100%, 0, 0);
            transition: transform 0.4s ease-in-out;
            width: 80%;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;

            @include tablet {
                display: none;
            }

            &.active {
                transform: translate3d(0, 0, 0);
            }

            a {
                color: $dark;
                padding: 15px;
                text-decoration: none;
                text-transform: uppercase;
            }
        }

        .nav__menu__btn {
            font-size: 2rem;
            padding: 15px;

            @include tablet {
                display: none;
            }
        }
    }
}