ol {
    counter-reset: li-counter;
    list-style-type: none;
}

ol>li {
    position: relative;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    min-height: 2rem;
    border-left: 2px solid $secondary;
}

ol>li:before {
    position: absolute;
    top: 0;
    left: -2rem;
    width: 1.5rem;

    font-size: 2rem;
    line-height: 1;
    font-weight: 800;
    text-align: right;
    color: $dark;

    content: counter(li-counter);
    counter-increment: li-counter;
}