.product {
    background: linear-gradient(130deg, rgba(193, 15, 15, 1) 0%, rgba(28, 123, 173, 1) 58%, rgba(168, 10, 10, 1) 100%);
    border-radius: 4px;
    color: #fff;
    height: 200px;
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product img {
    min-height: 245px;
    max-height: 245px;
    width: auto;
    padding-bottom: 25px;
    position: relative;
}

.product__icon {
    background: linear-gradient(130deg, rgba(193, 15, 15, 1) 0%, rgba(28, 123, 173, 1) 58%, rgba(168, 10, 10, 1) 100%);
    border: 5px solid #fff;
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -25px;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}