.card-column-layout {

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .call-out {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        flex-basis: 48%;
        margin-bottom: 2rem;
        padding: 1.5rem;
        transition: $transition;

        &:hover {
            box-shadow: $box-shadow--4;
        }

        @include tablet {
            flex-basis: 48%;
            margin-bottom: 1rem;
        }

        @include laptop {
            flex-basis: 30%;
        }

    }
}