#nav {
    position: absolute;
    width: 100%;
    .container {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        @include smLaptop {
            flex-direction: row;
        }
        
        .nav__main__link {
           color: $light;
           font-size: 0.73rem;
           padding: 0.5rem;
           text-decoration: none;
           width: 100%;
           @include smLaptop {
               width: fit-content;
           }
       }

       .nav__link--1 {
           font-size: 1.2rem;
           font-weight: lighter;
           @include smLaptop {
            margin-right: auto;
           }

           span {
               font-weight: bold;
           }
       }
   }
}