#header--main {
    background: $linear-gradient, url('../img/mountains-clouds-forest-fog.jpg')no-repeat top/cover;
    height: 100vh;

    .container {
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: setTextColor($dark);
            font-weight: 100;
            text-transform: uppercase;
        }
    }
}